.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .user-cards-block {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
