@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
$basic-color: orange;
$text-color: #ffff;
$text: "Josefin Sans", sans-serif;
$btn-1: #4caf50;
$btn-2: #f44336;
.user-card {
  border: 2px solid whitesmoke;
  box-shadow: 2px 2px 2px 2px gainsboro, 2px 2px 2px 2px whitesmoke;
  max-width: 270px;
  padding: 5px;
  border-radius: 10px;
  .user-content {
    .header {
      margin: 10px;
      padding: 5px;
      color: $basic-color;
    }
  }
  .user-details {
    border-top: 2px solid $basic-color;
    margin: 5px;
    li {
      padding: 10px;
      list-style-type: none;
      font-size: 1rem;
      font-weight: 600;
      font-family: $text;
    }
  }
  .content {
    margin: 5px;
    .btn {
      .edit-btn {
        border-color: $btn-1;
        color: $btn-1;

        &:hover {
          background-color: $btn-1 !important;
          color: #ffff !important;
        }
      }
      .dlt-btn {
        border-color: $btn-2;
        padding: 5px;
        color: $btn-1;

        &:hover {
          background-color: $btn-2 !important;
          color: #ffff !important;
        }
      }
    }
  }
}
